<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @cocktail.name %></h1>
      <%= link_to 'Back', cocktails_path %>
      <% if @cocktail.picture? %>
        <%= cl_image_tag @cocktail.picture.path, width: 200, height: 300, crop: :fill %>
      <% end %>
      <h2>Recipe:</h2>
      <ul>
        <% @cocktail.doses.each do |dose| %>
          <li><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to "Delete this dose", dose_path(dose), method: :delete  %></li>
        <% end %>
      </ul>
      <%= image_tag @cocktail.picture  %>
    </div>
  </div>
</div>
<div class="container padded">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Add a dose for <%= @cocktail.name %></h1>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description, :placeholder=>"ex : 2 cl, 1 g ..." %>
        <%= f.association :ingredient %>
        <%= f.submit "Add dose" %>
      <% end %>
    </div>
  </div>
</div>
